# Introduction to the Example Dataset

In [ ]:
import pandas as pd

# Creating a basic example dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 22, 35, 28],
    'Salary': [50000, 60000, 45000, 70000, 55000],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR']
}

df = pd.DataFrame(data)
print(df)

# Bin data into internals

In [ ]:
# Binning data into internal
bins = [0,30,40,50,float('inf')]
labels = ['<30','30-40','40-50','50+']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels)
df

# String operations

In [ ]:
# String operaions on a column
df['NameLength']=df['Name'].apply(len)

# Rename columns

In [ ]:
df.rename(columns={'Salary':'MonthlySalary'}, inplace=True)
df

# Credit

https://python.plainenglish.io/essential-python-pandas-codes-to-elevate-your-data-analysis-skills-4fa986357986