In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import HTML
import plotly.graph_objects as go
import plotly.express as px
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")


# Load the dataset
df = pd.read_csv('/kaggle/input/background/amazon_stock_data_with_details.csv')

In [2]:
def cprint(df):
    """
    Customize the style of the table cells.

    Args:
        df (DataFrame): The DataFrame to be styled.

    Returns:
        Styler: A pandas Styler object with custom styling applied.
    """
    # Define custom styles
    custom_styles = [
        {
            # Style table header cells within the thead section
            'selector': 'thead th',
            'props': [
                ('background-color', '#a163b4'), 
                ('color', 'white'),
                ('border', '1.5px solid transparent'),
                ('border-bottom', '1.5px solid #ffffff'),
                ('box-shadow', '0px 0px 10px rgba(255,255,255,0.5)'),
            ]
        },
        {
            # Style table index cells
            'selector': 'th.row_heading, td.row_heading',
            'props': [
                ('background-color', '#a163b4'), 
                ('color', 'white'),
                ('border', '1.5px solid transparent'),
                ('border-right', '1.5px solid #ffffff'),
                ('box-shadow', '0px 0px 10px rgba(255,255,255,0.5)'),
            ]
        },
        {
            # Apply gradient background colors to table cells
            'selector': 'td',
            'props': [
                ('background', 'linear-gradient(to right, #f5f5f1, #a163b4)'),
                ('color', 'black'),
                ('border', '1.5px solid transparent'),
                ('box-shadow', '0px 0px 10px rgba(255,255,255,0.5)'),
            ]
        },
        {
            # Apply alternating background colors to rows
            'selector': 'tr:nth-child(even)',
            'props': [
                ('background-color', '#f5f5f1'),
                ('color', 'black')
            ]
        },
        {
            # Apply alternating background colors to rows
            'selector': 'tr:nth-child(odd)',
            'props': [
                ('background-color', '#e6d0ff'),
                ('color', 'black')
            ]
        }
    ]

    # Apply custom styling
    styled_df = df.style.set_table_styles(custom_styles).set_caption("First 5 rows of Dataset")

    # Format float values in the DataFrame to have 2 decimal places
    float_cols = df.select_dtypes(include=['float']).columns
    styled_df = styled_df.format({col: '{:.2f}' for col in float_cols})

    # Customize individual columns
    column_styles = {
        'Open': 'color: #6a0dad',     # Purple color for Open column
        'High': 'color: #6a0dad',     # Purple color for High column
        'Low': 'color: #6a0dad',      # Purple color for Low column
        'Close': 'color: #6a0dad',    # Purple color for Close column
        'Volume': 'color: #6a0dad',   # Purple color for Volume column
        'Adj Close': 'color: #6a0dad',# Purple color for Adj Close column
        'SMA_50': 'color: #6a0dad',   # Purple color for SMA_50 column
        'SMA_200': 'color: #6a0dad',  # Purple color for SMA_200 column
        'RSI': 'color: #6a0dad',      # Purple color for RSI column
        'Upper Band': 'color: #6a0dad',  # Purple color for Upper Band column
        'Middle Band': 'color: #6a0dad', # Purple color for Middle Band column
        'Lower Band': 'color: #6a0dad'   # Purple color for Lower Band column
    }
    styled_df = styled_df.set_properties(**column_styles)

    # Increase font size
    styled_df = styled_df.set_properties(**{'font-size': '14px'})

    return styled_df

# Example usage
# Replace df with your DataFrame
styled_df = cprint(df.head())
styled_df

In [3]:
def cprint(df):
    """
    Customize the style of the table cells.

    Args:
        df (DataFrame): The DataFrame to be styled.

    Returns:
        Styler: A pandas Styler object with custom styling applied.
    """
    # Define custom styles
    custom_styles = [
        {
            # Style table header cells within the thead section
            'selector': 'thead th',
            'props': [
                ('background-color', '#a163b4'), 
                ('color', 'white'),
                ('border', '1.5px solid transparent'),
                ('border-bottom', '1.5px solid #ffffff'),
                ('box-shadow', '0px 0px 10px rgba(255,255,255,0.5)'),
            ]
        },
        {
            # Style table index cells
            'selector': 'th.row_heading, td.row_heading',
            'props': [
                ('background-color', '#a163b4'), 
                ('color', 'white'),
                ('border', '1.5px solid transparent'),
                ('border-right', '1.5px solid #ffffff'),
                ('box-shadow', '0px 0px 10px rgba(255,255,255,0.5)'),
            ]
        },
        {
            # Apply gradient background colors to table cells
            'selector': 'td',
            'props': [
                ('background', 'linear-gradient(to right, #f5f5f1, #a163b4)'),
                ('color', 'black'),
                ('border', '1.5px solid transparent'),
                ('box-shadow', '0px 0px 10px rgba(255,255,255,0.5)'),
            ]
        },
        {
            # Apply alternating background colors to rows
            'selector': 'tr:nth-child(even)',
            'props': [
                ('background-color', '#f5f5f1'),
                ('color', 'black')
            ]
        },
        {
            # Apply alternating background colors to rows
            'selector': 'tr:nth-child(odd)',
            'props': [
                ('background-color', '#e6d0ff'),
                ('color', 'black')
            ]
        }
    ]

    # Apply custom styling
    styled_df = df.style.set_table_styles(custom_styles).set_caption("Last  5 rows of Dataset")

    # Format float values in the DataFrame to have 2 decimal places
    float_cols = df.select_dtypes(include=['float']).columns
    styled_df = styled_df.format({col: '{:.2f}' for col in float_cols})

    # Customize individual columns
    column_styles = {
        'Open': 'color: #6a0dad',     # Purple color for Open column
        'High': 'color: #6a0dad',     # Purple color for High column
        'Low': 'color: #6a0dad',      # Purple color for Low column
        'Close': 'color: #6a0dad',    # Purple color for Close column
        'Volume': 'color: #6a0dad',   # Purple color for Volume column
        'Adj Close': 'color: #6a0dad',# Purple color for Adj Close column
        'SMA_50': 'color: #6a0dad',   # Purple color for SMA_50 column
        'SMA_200': 'color: #6a0dad',  # Purple color for SMA_200 column
        'RSI': 'color: #6a0dad',      # Purple color for RSI column
        'Upper Band': 'color: #6a0dad',  # Purple color for Upper Band column
        'Middle Band': 'color: #6a0dad', # Purple color for Middle Band column
        'Lower Band': 'color: #6a0dad'   # Purple color for Lower Band column
    }
    styled_df = styled_df.set_properties(**column_styles)

    # Increase font size
    styled_df = styled_df.set_properties(**{'font-size': '14px'})

    return styled_df




styled_df = cprint(df.tail())
styled_df

In [4]:
def cprint(df):
    """
    Customize the style of the table cells.

    Args:
        df (DataFrame): The DataFrame to be styled.

    Returns:
        Styler: A pandas Styler object with custom styling applied.
    """
    # Define custom styles
    custom_styles = [
        {
            # Style table header cells within the thead section
            'selector': 'thead th',
            'props': [
                ('background-color', '#a163b4'), 
                ('color', 'white'),
                ('border', '1.5px solid transparent'),
                ('border-bottom', '1.5px solid #ffffff'),
                ('box-shadow', '0px 0px 10px rgba(255,255,255,0.5)'),
            ]
        },
        {
            # Style table index cells
            'selector': 'th.row_heading, td.row_heading',
            'props': [
                ('background-color', '#a163b4'), 
                ('color', 'white'),
                ('border', '1.5px solid transparent'),
                ('border-right', '1.5px solid #ffffff'),
                ('box-shadow', '0px 0px 10px rgba(255,255,255,0.5)'),
            ]
        },
        {
            # Apply gradient background colors to table cells
            'selector': 'td',
            'props': [
                ('background', 'linear-gradient(to right, #f5f5f1, #a163b4)'),
                ('color', 'black'),
                ('border', '1.5px solid transparent'),
                ('box-shadow', '0px 0px 10px rgba(255,255,255,0.5)'),
            ]
        },
        {
            # Apply alternating background colors to rows
            'selector': 'tr:nth-child(even)',
            'props': [
                ('background-color', '#f5f5f1'),
                ('color', 'black')
            ]
        },
        {
            # Apply alternating background colors to rows
            'selector': 'tr:nth-child(odd)',
            'props': [
                ('background-color', '#e6d0ff'),
                ('color', 'black')
            ]
        }
    ]

    # Apply custom styling
    styled_df = df.style.set_table_styles(custom_styles).set_caption("Summary of the Dataset")

    # Format float values in the DataFrame to have 2 decimal places
    float_cols = df.select_dtypes(include=['float']).columns
    styled_df = styled_df.format({col: '{:.2f}' for col in float_cols})

    # Customize individual columns
    column_styles = {
        'Open': 'color: #6a0dad',     # Purple color for Open column
        'High': 'color: #6a0dad',     # Purple color for High column
        'Low': 'color: #6a0dad',      # Purple color for Low column
        'Close': 'color: #6a0dad',    # Purple color for Close column
        'Volume': 'color: #6a0dad',   # Purple color for Volume column
        'Adj Close': 'color: #6a0dad',# Purple color for Adj Close column
        'SMA_50': 'color: #6a0dad',   # Purple color for SMA_50 column
        'SMA_200': 'color: #6a0dad',  # Purple color for SMA_200 column
        'RSI': 'color: #6a0dad',      # Purple color for RSI column
        'Upper Band': 'color: #6a0dad',  # Purple color for Upper Band column
        'Middle Band': 'color: #6a0dad', # Purple color for Middle Band column
        'Lower Band': 'color: #6a0dad'   # Purple color for Lower Band column
    }
    styled_df = styled_df.set_properties(**column_styles)

    # Increase font size
    styled_df = styled_df.set_properties(**{'font-size': '14px'})

    return styled_df



styled_df = cprint(df.describe())
styled_df

In [5]:
# Check for Duplicates
duplicate_count = df.duplicated().sum()
duplicates_html = (
    f'<div style="padding: 10px; border: 2px solid purple; border-radius: 5px;">'
    f'<h3 style="background-color:purple; color:white; padding: 10px; border-radius: 5px;">Duplicate Rows</h3>'
    f'<p style="color:purple; padding: 6px;">Number of duplicate rows: {duplicate_count}</p>'
    f'</div>'
)

# Display the HTML block for duplicated rows
from IPython.display import display, HTML
display(HTML(duplicates_html))

**Credit**:

https://www.kaggle.com/code/muhammadibrahimqasmi/let-s-cook-some-plots-bro-time-series