# 1 | Buiness Objective
In this notebook, I will analyze a health insurance company's data to predict future insurance claim amounts and identify factors that lead to higher healthcare. The insurance dataset consists of 1,338 policyholders with 7 attribures that describe their health and demographic information, including their age, gender, BMI,and smoking status. The variable we would like to predict is the total claim amount, charges, that were billed to the insurance company. To provide a more targeted cost prediction, I will build a model for each of the four regions where the company's policyholders. To provide a more targeted cost prediction, I will build a model for each of the four regions where the company's polictholders reside in: the Southwest, Southeast, Northwest, and Northeast regions.

# 2| Data Overview

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import plot, iplot, init_notebook_mode
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import r2_score, mean_squared_error
import warnings
warnings.filterwarnings('ignore')

# Load data
ins = pd.read_csv("/kaggle/input/insurance/insurance.csv")
print("There are {:,} observations and {} columns in the data set.".format(ins.shape[0], ins.shape[1]))
print("There are {} missing values in the data." .format(ins.isna().sum().sum()))
ins['sex'] = ins['sex'].str.capitalize()
ins['smoker'] = ins['smoker'].apply(lambda x :'Smoker' if x=='yes' else 'Non-Smoker')
ins['region'] = ins['region'].str.capitalize

There are 1,338 observations and 7 columns in the data set.
There are 0 missing values in the data.

# 2.1| Summary Statistics of Numberic Columns

In [2]:
ins.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1338.0,39.207025,14.049960,18.0000,27.00000,39.000,51.000000,64.00000
bmi,1338.0,30.663397,6.098187,15.9600,26.29625,30.400,34.693750,53.13000
children,1338.0,1.094918,1.205493,0.0000,0.00000,1.000,2.000000,5.00000
charges,1338.0,13270.422265,12110.011237,1121.8739,4740.28715,9382.033,16639.912515,63770.42801

# 2.2| Summary Statistics of Categorical Columns

In [3]:
ins.select_dtypes(include=['object']).describe()

         sex      smoker                                             region
count   1338        1338                                               1338
unique     2           2                                                  1
top     Male  Non-Smoker  <bound method StringMethods.capitalize of <pan...
freq     676        1064                                               1338

In [4]:
cat=ins.select_dtypes(include=['object']).columns.tolist()
for i in cat:
    obs=ins[i].value_counts()
    avg_claim=ins.groupby(i)["charges"].mean()
    display(pd.DataFrame({"Number of Policyholders":obs,"Average Claim Amount":avg_claim.map('${:,.2f}'.format)})\
            .sort_values('Number of Policyholders', ascending=False)\
            .style.set_caption("Variable:{}".format(i)))

# 3| Exploratory Data Analysis